*{
  margin:0px;
  padding:0px;
}
.card h1{
    text-align:center;
    font-size:40px;
    padding-top:100px;
}
.button{
    background-color:#000;
    color:#fff;
    height:50px;
    width:100px;
    text-decoration: none;
    margin-left:700px;
   margin-top: 50px;
   cursor: pointer;
}